.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  padding: 2rem 6rem;
  font-size: 18px;
}

.icon {
  display: flex;
  gap: 2rem;
}
.img {
  height: 3rem;
}
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}
